VITE_SUPABASE_URL=https://dczjndonqbvaciznagdu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRjempuZG9ucWJ2YWNpem5hZ2R1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkzNDA0OTIsImV4cCI6MjA5NDkxNjQ5Mn0.HJEC2AdFEiYgXT_aR6jXpOwYaOu8f8VAs6Nf-DIXupU
